
scrollbar,
scrollbar:backdrop {
min-width:18px;
min-height:21px;
margin:-1px;
border:1px solid @border_color;
background:shade (@bg_color,0.6)}

scrollbar>contents>button,
scrollbar>contents>button:checked,
scrollbar>contents>button:active,
scrollbar>contents>button:hover,
scrollbar>contents>button:backdrop{
margin:-1px;
min-width:16px;
min-height:16px;}

scrollbar button,
scrollbar button:checked,
scrollbar button:backdrop{
background:inherit;
-gtk-icon-source:-gtk-scaled(url("../../images/gtk-3.0/arrow-down_normal.svg"),url("../../images/gtk-3.0/arrow-down_normal2.svg"));}
scrollbar.vertical button.up{
-gtk-icon-transform:rotate(0.5turn);}
scrollbar.horizontal button.down{
-gtk-icon-transform:rotate(0.75turn);}
scrollbar.horizontal button.up{
-gtk-icon-transform:rotate(0.25turn);}
scrollbar button:disabled{
-gtk-icon-source:-gtk-scaled(url("../../images/gtk-3.0/arrow-down_insensitive.svg"),url("../../images/gtk-3.0/arrow-down_insensitive2.svg"));}

scrollbar slider,
scrollbar slider:backdrop{
margin:-1px;
min-width:18px;
min-height:21px;
background-color:@selected_bg_color;
border:1px solid rgba(0,0,0,0.8);}
